* {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.c-red {
    color: red;
}

.rate-chart .chart-border {
    border-bottom: 1px solid #fff;
    line-height: 23px;
    height: 23px;
}

.rate-box {
    width: 387px;
    margin: 0 auto;
}

.rate-txt {
    font-size: 12px;
    color: #999;
}

.reate-current {
    font-size: 16px;
}

.rate-table {

    margin-top: 20px;
}

.rate-table td {
    line-height: 24px;
    height: 24px;
}

.rate-table .rate-money p {
    margin-top: -24px;
    line-height: 24px;
    height: 24px;
}

.rate-table table {
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
    border-spacing: 0;
    text-align: center;
}

.rate-table .rate-table {
    margin-top: 20px;
    font-size: 12px;
    color: #fff;
}

.rate-table .rate-money {
    width: 62px;
    color: #999;
}

.rate-table .rate-money td {
    position: relative;
}

.rate-table .rate-money td:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 2px;
    height: 2px;
    background: #c0a049;
}

.rate-table .rate-money tr:last-child td:after {
    width: 0;
}

.rate-table .rate-list {
    width: 325px;
}

.rate-table .rate-chart {
    color: #666;
    background: #fdf2b9;
}

.rate-table .rate-day {
    position: relative;
    text-align: right;
    color: #999;
}

.rate-table .rate-day p {
    position: relative;
    right: -12px;
}

.rate-table .rate-day td {
    position: relative;
}

.rate-table .rate-day td:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 2px;
    height: 2px;
    background: #c0a049;
}

.rate-table .rate-day td:last-child:after {
    width: 0;
}

.rate-table .rate-day td:last-child p {
    right: 0;
    font-size: 11px;
}

.rate-table .rate-day:after,
.rate-table .rate-day:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: #c0a049;
}

.rate-table .rate-day:before {
    top: -1px;
    left: -1px;
}

.rate-table .rate-day:after {
    top: -1px;
    right: 0;
}

.rate-chart .chart-td0 {
    background-color: #fdf2b9
}

.rate-chart .chart-td1 {
    background-color: #fce275;
}

.rate-chart .chart-td2 {
    background-color: #fdd253;
}

.rate-chart .chart-td3 {
    background-color: #fdc539;
}

.rate-chart .chart-td4 {
    background-color: #feb131;
}